.Login-button {
    background-color: var(--color-green-900);
    font-weight: bold;
    height: 40px;
}

.Login-button:hover {
    background-color: var(--color-green-800);
}

.Default-button {
    background-color: var(--color-red-900);
    font-weight: bold;
    height: 40px;
}

.Default-button:hover {
    background-color: var(--color-red-800);
}