.Login-button {
    background-color: var(--color-green-900);
    border: var(--color-green-950);
    font-weight: bold;
}


.Login-button:hover {
    background-color: var(--color-green-800);
    border: var(--color-green-900);
}

.Default-button {
    background-color: var(--color-red-900);
    border: var(--color-red-950);
    border-bottom: 4;
    font-weight: bold;
}

.Default-button:hover {
    background-color: var(--color-red-800);
    border: var(--color-red-900);
}